[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
matplotlib = "*"
numpy = "*"
jax = "*"
jaxlib = {path = "./jaxlib-0.1.71-cp38-none-macosx_10_9_x86_64.whl"}
jupyter = "*"
ipywidgets = "*"

[dev-packages]
pylama = "*"

[requires]
python_version = "3.8"
